<main>
  <h2>Informe o CEP</h2>
  <p>Digite o CEP e ao sair o endereço será completado.</p>
  <p>Pode utilizar a tecla TAB após digitar o CEP.</p>
  <form action="">
    <div>
      <label for="">Cep:</label>
      <input
        type="text"
        [(ngModel)]="cep"
        name="cep"
        (change)="getData()"
        maxlength="8"
      />
    </div>
    <div>
      <label for="">Rua:</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Bairro:</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Cidade:</label>
      <input type="text" />
    </div>
    <div>
      <label for="">Estado:</label>
      <input type="text" />
    </div>
    <div>
      <label for="">IBGE:</label>
      <input type="text" />
    </div>
  </form>
</main>
