<main>
  <section>
    <div class="info">
      <h2>Informe o CEP</h2>
      <i>Digite somente números e ao sair o endereço será completado.</i>
      <i>Pode utilizar a tecla TAB após digitar o CEP.</i>
    </div>
    <p class="alert" *ngIf="isCepValid">{{ error }}</p>
    <form action="">
      <div>
        <label for="">Cep:</label>
        <input
          type="text"
          [(ngModel)]="cep"
          name="cep"
          (change)="getData()"
          (blur)="getData()"
          (input)="cepValidation()"
          maxlength="8"
          required
        />
      </div>
      <div>
        <label for="">Rua:</label>
        <input type="text" value="{{ street }}" disabled />
      </div>
      <div>
        <label for="">Bairro:</label>
        <input type="text" value="{{ neighborhood }}" disabled />
      </div>
      <div>
        <label for="">Cidade:</label>
        <input type="text" value="{{ city }}" disabled />
      </div>
      <div>
        <label for="">Estado:</label>
        <input type="text" value="{{ state }}" disabled />
      </div>
      <div>
        <label for="">IBGE:</label>
        <input type="text" value="{{ IBGE }}" disabled />
      </div>
    </form>
    <div class="buttons">
      <button [disabled]="isButtonDisabled()" (click)="onsubmit()">
        Enviar
      </button>
      <button (click)="cleanFields()">Limpar</button>
    </div>
  </section>
</main>
