:root {
  --font-family: "Helvetica", sans-serif;
  --dark-blue: #0a1930;

  --color-white: #fff;
  --color-dark: #141414;

  --color-grey: #eee;
  --color-alert: #ff0000;

  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

  --color-primary: #779fc9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

button {
  padding: 5px 15px 5px 15px;
  background-color: var(--color-dark);
  color: var(--color-grey);
  font-weight: bold;
  border-radius: 5px;
}
